@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.name-box {
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-color: #4b6cc1;
    border-width: 2px;
    /* border-color:white; */
    border-style: solid;
    font-size: 27px;
    font-weight: 600;
}

.main-page {
    background-color: #191a1d;
    /* height:100vh; */
}

.image11 {
    margin-top: 70px;
    background-size: cover;
    width: 250px;
}

.hey_name {
    color: white;
}

.Description {
    margin-top: 10px;
    font-size: 20px;
    color: #9aa5b1;
    font-family: "Roboto";
    font-weight: 500;
}

.button_contact_me {
    color: White;
    background-color: #4b6cc1;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}